/*
 * Colors
 * eerie black #0D1B2A
 * ball blue 23B5D3
 * blueberry #4392F1
 * glitter gray #E3EBFF
 * turquoise #00F6ED
 * red orange #F0544F
 * dogwood rose #D81E5B
 * ucla gold #FFB400
 * orioles orange #F6511D
 * imperial violet #55286F
 */

.color {
    color: #0D1B2A;
    color: #4392F1;
    color: #23B5D3;
    color: #00F6ED;
    color: #E3EBFF;
    color: #FFB400;
    color: #F6511D;
    color: #F0544F;
    color: #D81E5B;
}

body {
    background-color: #0D1B2A;
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#app {
    width: 100vw;
}

h2 {
    font-size: 1.2em;
    margin: 0.1em;
    font-family: "Roboto Mono", monospace;
}

h3 {
    font-size: 1.0em;
    margin: 0.1em;
    font-family: "Roboto Mono", monospace;
}

p {
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    opacity: 0.8;
}